.data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.data h4{
  display: flex;
  gap: 10px;
}

.data p{
  font-weight: 400;
}

.label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--azul);
  padding: 20px;
  border-radius: 4px;
}

.label span{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.label input{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

@media screen and (max-width: 550px) {
  .respawn-title {
    display: none;
  }

  .data{
    gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  .label{
    padding: 10px;
  }
}

@media screen and (max-width: 325px) {
  .label span{
    font-size: 14px;
  }

  .label input{
  
    padding: 3px;
  
  }
}