.container{
  min-height: 90vh;
  width: 95%;
  background-color: var(--azul);
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 20px;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  margin-bottom: 40px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.content h3{
  color: #fff;
}

.form{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 1160px) {
  .container{
    flex-direction: column;
  }
}