.container{
  min-height: 90vh;
  width: 90%;
  background-color: #fff;
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 20px;
  align-items: center;
  border-radius: 8px;
}

.container form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}