header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 32px;
  background-color: #0F224A;
  margin-bottom: 40px;
}

img{
  width: 50px;
}

ul{
  display: flex;
  gap: 20px;
}

li{
  list-style: none;
  font-size: 20px;
  color: #fff;
  transition: all .2s;
  cursor: pointer;
}

li:hover{
  font-weight: 700;
}

h4{
  color: #fff;
}